/* Body styles */
body {
    font-family: 'DM Sans', sans-serif;
    background-color: #1D1E22;
    color: white;
    padding: 1rem;
    text-align: center;
  }
/* https://thegraph.com/en/ */
.text-glow {
    text-shadow: 0 0 80px rgb(192 219 255 / 35%), 0 0 32px rgb(65 120 255 / 24%);
  }

/* https://rareblocks.xyz/ */
.text-gradient {
    background: linear-gradient(to right, #B71E1E, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
/* Heading styles */
h1 {
    color: #333;
    text-align: center;
}

/* Form styles */
form {
    max-width: 400px;
    margin: 20px auto;
    background-color: #1D1E22;
    padding: 20px;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #555;
}

/* Thank you page styles */
p {
    text-align: center;
    margin-top: 50px;
    font-size: 18px;
    color: #333;
}
nav {
    background-color: #1D1E22;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 100px; /* Adjust the size of your logo */
    height: auto;
    margin-right: 10px;
  }
  
  .logo span {
    font-weight: bold;
    font-size: 18px;
  }
  
  .menu-items {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu-items a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .try-now-btn {
    background-color: #B71E1E;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
  }
  /* Existing CSS styles for the navigation bar */

footer {
    background-color: #1D1E22;
    padding: 20px;
    color: #666;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-section {
    flex-basis: 30%;
  }
  
  .footer-section h3 {
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section li {
    margin-bottom: 5px;
  }
  
  .footer-section a {
    text-decoration: none;
    color: #666;
  }
  
  .footer-bottom {
    margin-top: 20px;
  }
  